@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana";
    src: local("Dana"),
      url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: local("Dana Medium"),
      url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana DemiBold";
    src: local("Dana DemiBold"),
      url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Light";
    src: local("Morabba Light"),
      url("../fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src: local("Morabba Medium"),
      url("../fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Bold";
    src: local("Morabba Bold"),
      url("../fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }
  * {
    @apply p-0 m-0 box-border;
  }
  a{
    @apply no-underline text-white
  }
  li{
    @apply list-none
  }
  body {
    @apply dark:bg-zinc-800 text-slate-900 bg-slate-900 font-Dana text-lg overflow-x-hidden scroll-smooth scrollbar scrollbar-thumb-mainColor dark:scrollbar-thumb-gray-700 scrollbar-track-gray-100 dark:scrollbar-track-gray-400;
  }
}

@layer components {
  .CircleBubble {
    @apply hidden md:flex justify-center items-center rounded-full border;
  }
  .CircleBubbleParent{
	@apply absolute bottom-0 left-0 right-0 mx-auto translate-y-2/4;
  }
  .CircleBubble__lg {
    @apply w-[12.6875rem] h-[12.6875rem] border-white/25;
  }
  .CircleBubble__md {
    @apply w-[9.0625rem] h-[9.0625rem] border-white/50;
  }
  .CircleBubble__sm {
    @apply w-[5.9375rem] h-[5.9375rem] border-white/80;
  }
  .swiper-button{
    @apply w-9 h-9 md:w-10 md:h-10 bg-white dark:bg-zinc-700 text-zinc-700 dark:text-white rounded-full hover:bg-gray-300 dark:hover:bg-white dark:hover:text-zinc-700 cursor-pointer shadow-normal transition-colors;
  }
  .dir-ltr{
    direction: ltr;
    text-align: left;
  }
  .Services::after, .Services::before{
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #D1D5DB;
  }
  html.dark .Services::after, html.dark .Services::before{
    background-color: rgba(255,255,255,0.1);
  }
  .Services::after{
    width: 1px;
    height: calc(100% + 1.25rem);
  }
  .Services::before{
   width: calc(100% - 2rem);
   height: 1px;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2;
  }
  .flex-center{
    @apply flex justify-center items-center
  }
  .flex-between{
    @apply flex justify-between items-center
  }
  .MoreFeaturesBG{
   background: #F9FAFC url("../Images/bg-point.png") no-repeat fixed right -600px center/auto;
  }
  
}

.css-1c99szj-MuiRating-icon{
  @apply text-gray-300 dark:text-gray-400
}
.css-iljtu2-MuiRating-root {
  direction: ltr;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  right: 0;
  left: -13px !important;
  margin: 0 auto;
}
.css-heg063-MuiTabs-flexContainer{
  @apply overflow-x-scroll lg:overflow-x-auto;
}